/* Fade Transition Time */

:root {
    --fade-animation-time: 0.2s;
}

/* Link Item Animation */

.animate-fade-up {
    animation-name: fade-in-up;
    animation-timing-function: linear;
    animation-duration: var(--fade-animation-time);
    animation-fill-mode: forwards;
}

@keyframes fade-in-up {
    from { opacity: 0; transform: translateY(8px)}
    to { opacity: 1; transform: translateY(0px)}
}

.animate-fade-out {
    animation-name: fade-out;
    animation-timing-function: linear;
    transform-origin: top;
    animation-fill-mode: forwards;
    animation-duration: var(--fade-animation-time);
}

@keyframes fade-out {
    from { opacity: 1; height: 100%; transform: scale(1); }
    to { opacity: 0; height: 0%; transform: scale(0); }
}

.animate-platform-dropdown {
    animation-name: dropdown-flip-down;
    animation-timing-function: linear;
    animation-duration: 0.15s;
    transform-origin: top;
}

@keyframes dropdown-flip-down {
    from { transform: rotateX(90deg)}
    to { transform: rotateX(0deg)}
}

/* Platform dropdown list item icon hover animation */

@keyframes dropdown-icon-hover-pulse {
    from { transform: scale(1) }
    to { transform: scale(1.4) }
}

/* Popup animation */

@keyframes popup-slide-in {
    from { transform: translateY(200%); opacity: 0; }
    to { transform: translateY(0%); opacity: 1; }
}

.popup-message-slide-out {
    animation-name: popup-slide-out;
    animation-duration: var(--fade-animation-time);
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes popup-slide-out {
    from { transform: translateY(0%); opacity: 1; }
    to { transform: translateY(200%); opacity: 0; }
}