:root {
    --purple: #633CFF;
    --purple-active: #BEADFF;
    --purple-opaque: #633CFF50;
    --purple-opaque-2: #bdadff17;
    --light-purple: #EFEBFF;
    --dark_grey: #333333;
    --grey: #737373;
    --border: #D9D9D9;
    --light-grey: #FAFAFA;
    --white: #FFFFFF;
    --red: #FF3939;
    --unfilled: #EEEEEE;
}