:root {
    --purple: #633CFF;
    --purple_hover: #BEADFF;
    --purple_opaque: #633CFF50;
    --light_purple: #EFEBFF;
    --dark_grey: #333333;
    --grey: #737373;
    --border: #D9D9D9;
    --light_grey: #FAFAFA;
    --white: #FFFFFF;
    --red: #FF3939;
}