form {
    .form-field {
        margin-bottom: 1.25rem;

        & .input-container {
            display: flex;
            align-items: center;
            border-radius: 0.5rem;
            margin-top: 0.25rem;
            position: relative;

            & svg.platform-icon, svg.link-icon {
                & path {
                    fill: var(--grey);
                }
            }

            & svg.devto-icon {
                & .alter {
                    fill: var(--white);
                }
            }

            & svg.platform-dropdown-arrow {
                transition: 0.25s;
                & path {
                    stroke: var(--purple);
                }

                width: 0.75em;
                height: 0.75em;
            }

            & input, .selection-dropdown-container span, .selected-link-item-container span {
                background: transparent !important;
                background-color: transparent !important;
                border: 0px;
                padding: 0.75em;
                width: 100%;
                flex: 1;
                font-size: inherit;

                &:focus {
                    outline: none;
                }
            }

            & .selected-link-item-container {
                width: 100%;
                display: flex;
                align-items: center;
            }

            & .selection-dropdown-container {
                list-style: none;
                display: flex;
                flex-direction: column;
                width: 100%;
                position: absolute;
                top: calc(100% + 1rem);
                z-index: 2;
                border-radius: 0.5rem;
                filter: drop-shadow(0px 0px 12px var(--drop-shadow));

                & li {
                    display: flex;
                    align-items: center;
                    margin: 0 min(1rem, 4.5%);
                    cursor: pointer;

                    &:hover:not(.active-dropdown-item) svg {
                        animation-name: dropdown-icon-hover-pulse;
                        animation-duration: 0.4s;
                        animation-timing-function: linear;
                        animation-iteration-count: infinite;
                        animation-direction: alternate;
                    }

                    &.active-dropdown-item {
                        & svg path {
                            fill: var(--purple) !important;
                        }

                        & span {
                            color: var(--purple) !important;
                        }

                        & svg.devto-icon {
                            & .alter {
                                fill: var(--white) !important;
                            }
                        }
                    }
                }

                & li:not(last-child) {
                    border-bottom: 1px var(--border) solid;
                }
            }

            &:has(.selected-link-item-container) {
                flex-direction: column;
            }

            &:has(input:focus:not(input[type="file"])), &:has(ul) {
                border: 1px var(--purple) solid;
                background: var(--white);
                box-shadow: 0px 0px 20px var(--purple-opaque);
                z-index: 2;
            }

            &:has(select) {
                margin-bottom: 0.5rem !important;
            }

            &.input-type-file {
                cursor: pointer;
                border: 0px;
                background: var(--light-purple);
                flex-direction: column;
                justify-content: center;
                position: relative;
                aspect-ratio: 1 / 1;
                flex: 0 0 min(12.0625rem, 53vw);
                padding: 2rem min(2rem, 6vw);

                & input[type="file"] {
                    opacity: 0;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }

                & svg.image-upload-icon {

                    width: 2em;
                    height: 1.75em;
    
                    & path {
                        fill: var(--purple);
                    }
                }

                & h4 {
                    color: var(--purple);
                    margin-top: 0.75em;
                }
            }

            & p {
                color: var(--red);
                width: max-content;
                inset: 0;
                text-wrap: nowrap;
            }
        }

        &:has(.input-type-link, .input-type-file) {
            background: var(--light-grey);
            padding: 20px;
            border-radius: 0.75rem;
        }

        &:has(.input-type-file) {
            display: flex;
            align-items: center;
            column-gap: 1.5rem;

            & label {
                flex: 1.25 0 fit-content;
            }

            & p {
                flex: 1 0 7rem;
            }

            & h4 {
                text-align: center;
            }

            @media(max-width: 38.75rem) {
                flex-direction: column;
                align-items: start;

                & label {
                    margin-bottom: 0.75em;
                }

                & p {
                    flex: 0;
                    margin-top: 2em;
                }
            }
        }

        &:has(.dropdown-active) {

            & svg.platform-dropdown-arrow {
                transform: rotateX(180deg);
            }
        }

        & .link-number-remove-container {
            display: flex;
            justify-content: space-between;

            & .link-number-container {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                cursor: pointer;
                padding: 0.5rem;
                margin: -0.5rem;

                & svg {
                    height: 0.375rem;
                    width: 0.75rem;
                }

                & h5 {
                    font-weight: 700;
                }
            }

            & button {
                background: transparent !important;
                color: var(--grey);
                width: fit-content !important;
                margin: -0.675rem !important;
                padding: 0.675rem !important;
            }
        }

        & .platform-link-fields-container {
            margin-top: 0.5rem;
        }

        &.field-error {

            & .input-container {
                border: 1px var(--red) solid !important;

                & p {
                    transform: translateY(calc(100% + 0.25rem));
                    position: absolute;

                    @media(min-width: 25.0625rem) {
                        position: relative;
                        align-self: center;
                        transform: translateY(0);
                    }
                }
            }

            @media(max-width: 25rem) {
                margin-bottom: 2rem;
            }

            & label {
                color: var(--red) !important;
            }
        }

        &.link-field-collapsed {

            & .platform-link-fields-container {
                height: 0;
                overflow: hidden;
                margin: 0 !important;
            }
        }
    }

    .form-err-msg {
        color: var(--red);
        margin-bottom: 1.25em;
    }

    & button {
        background: var(--purple);
        color: var(--white);
        border: 0px;
        margin-bottom: 1.25em;
        width: 100%;
        cursor: pointer;
        position: relative;

        & span {
            opacity: 0;
            line-height: 0;
        }

        & svg {
            fill: #fff !important;
            position: absolute !important;
            inset: 0 !important;
            margin: auto !important;
            height: 1.75em !important;
            width: 3.6em !important;
        }
    }

    & .input-type-link {
        margin-bottom: 0.5rem;
        cursor: pointer;
    }

}