form {
    .form-field {
        margin-bottom: 1.25rem;

        & .input-container {
            display: flex;
            align-items: center;
            border-radius: 0.5rem;
            margin-top: 0.25rem;
            position: relative;

            & svg.platform-icon, svg.link-icon {
                & path {
                    fill: var(--grey);
                }
            }

            & svg.devto-icon {
                & .alter {
                    fill: var(--white);
                }
            }

            & svg.platform-dropdown-arrow {
                transition: 0.25s;
                & path {
                    stroke: var(--purple);
                }

                width: 0.75em;
                height: 0.75em;
            }

            & input, .selection-dropdown-container span, .selected-link-item-container span {
                
                border: 0px;
                padding: 0.75em;
                width: 100%;
                flex: 1;
                font-size: inherit;

                &:focus {
                    outline: none;
                }

                &:internal-autofill-selector {
                    background: transparent !important;
                    background-color: transparent !important;
                }
            }

            & .selected-link-item-container {
                width: 100%;
                display: flex;
                align-items: center;
            }

            & .selection-dropdown-container {
                list-style: none;
                display: flex;
                flex-direction: column;
                width: 100%;
                position: absolute;
                top: calc(100% + 1rem);
                z-index: 2;
                border-radius: 0.5rem;

                & li {
                    display: flex;
                    align-items: center;
                    margin: 0 min(1rem, 4.5%);
                    cursor: pointer;

                    &:hover:not(.active-dropdown-item) svg {
                        animation-name: dropdown-icon-hover-pulse;
                        animation-duration: 0.4s;
                        animation-timing-function: linear;
                        animation-iteration-count: infinite;
                        animation-direction: alternate;
                    }

                    &.active-dropdown-item {
                        & svg path {
                            fill: var(--purple) !important;
                        }

                        & span {
                            color: var(--purple) !important;
                        }

                        & svg.devto-icon {
                            & .alter {
                                fill: var(--white) !important;
                            }
                        }
                    }
                }

                & li:not(last-child) {
                    border-bottom: 1px var(--border) solid;
                }
            }

            &:has(.selected-link-item-container) {
                flex-direction: column;
            }

            &:has(input:focus:not(input[type="file"])), &:has(ul) {
                border: 1px var(--purple) solid;
                background: var(--white);
                box-shadow: 0px 0px 20px var(--purple-opaque);
                z-index: 2;
            }

            &:has(select) {
                margin-bottom: 0.5rem !important;
            }

            &.input-type-file {
                cursor: pointer;
                border: 0px;
                background: var(--light-purple);
                flex-direction: column;
                justify-content: center;
                position: relative;
                aspect-ratio: 1 / 1;
                flex: 0 0 min(12.0625rem, 53vw);
                padding: 2rem min(2rem, 6vw);
                overflow: hidden;

                & input[type="file"] {
                    opacity: 0;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 4;
                    cursor: pointer;
                }

                & svg.image-upload-icon {

                    z-index: 3;

                    width: 2em;
                    height: 1.75em;

                    flex-shrink: 0;
    
                    & path {
                        fill: var(--purple);
                    }
                }

                & h4 {
                    z-index: 3;
                    color: var(--purple);
                    margin-top: 0.75em;
                }

                & .input-file-image {
                    position: absolute;
                    inset: -2%;
                    margin: auto;
                    width: 102%;
                    height: 102%;
                    object-fit: cover;
                    object-position: center;
                    pointer-events: none;
                    z-index: 1;
                    display: none;
                }

                &.show-rendered-image {

                    & svg.image-upload-icon {
                        & path {
                            fill: var(--white) !important;
                        }
                    }

                    & h4 {
                        color: var(--white) !important;
                    }

                    &::before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        background: var(--image-darken-overlay);
                        z-index: 2;
                        pointer-events: none;
                    }

                    & .input-file-image {
                        display: block !important;
                    }
                }
            }

            & p {
                color: var(--red);
                width: max-content;
                inset: 0;
                text-wrap: nowrap;
            }
        }

        &:has(.input-type-file) {
            display: flex;
            align-items: center;
            column-gap: 1.5rem;

            & p {
                max-width: 13rem;
            }

            & h4 {
                text-align: center;
            }

            @media(max-width: 620px) {
                justify-content: space-between;
                align-items: center !important;
                flex-wrap: wrap;
                align-items: start;

                & label {
                    margin-bottom: 0.75em;
                }

                & p {
                    min-width: 100% !important;
                    flex: 0;
                    margin-top: 2em;
                }
            }
        }

        &.image-field.field-error {

            & .input-type-file {

                &::before {
                    background: var(--image-error-darken-overlay) !important;
                }

                border: 1px var(--red) solid;

                & p {
                    z-index: 10;
                    margin-top: 1em;
                    font-weight: 700;
                    color: var(--red) !important;
                    text-wrap: balance !important;
                    text-align: center !important;
                    width: 100%;
                    pointer-events: none;
                }
            }
        }

        &:has(.dropdown-active) {

            & svg.platform-dropdown-arrow {
                transform: rotateX(180deg);
            }

            position: sticky;
            top: 5.625rem;
            z-index: 100;
        }

        & .link-number-remove-container {
            display: flex;
            justify-content: space-between;

            & .link-number-container {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                cursor: pointer;
                padding: 0.5rem;
                margin: -0.5rem;

                & svg {
                    height: 0.375rem;
                    width: 0.75rem;
                }

                & h5 {
                    font-weight: 700;
                }
            }

            & button {
                background: transparent !important;
                color: var(--grey);
                width: fit-content !important;
                margin: -0.675rem !important;
                padding: 0.675rem !important;
            }
        }

        & .platform-link-fields-container {
            margin-top: 0.5rem;
        }

        &.link-field-collapsed {

            & .platform-link-fields-container {
                height: 0;
                overflow: hidden;
                margin: 0 !important;
            }
        }
    }

    & .field-error {

        & .input-container {
            border: 1px var(--red) solid !important;

            & p {
                transform: translateY(calc(100% + 0.25rem));
                position: absolute;

                @media(min-width: 620px) {
                    position: relative;
                    align-self: center;
                    transform: translateY(0);
                }
            }
        }

        @media(max-width: 619px) {
            margin-bottom: 2rem !important;
        }

    }

    .form-err-msg {
        color: var(--red);
        text-wrap: balance;
    }

    & button {
        background: var(--purple);
        color: var(--white);
        border: 0px;
        margin-bottom: 1.25em;
        width: 100%;
        cursor: pointer;
        position: relative;

        & span {
            opacity: 0;
            line-height: 0;
        }

        & svg {
            fill: #fff !important;
            position: absolute !important;
            inset: 0 !important;
            margin: auto !important;
            height: 1.75em !important;
            width: 3.6em !important;
        }
    }

    & .input-type-link {
        margin-bottom: 0.5rem;
        cursor: pointer;
    }

    & .image-field, .name-fields-container, .form-field:has(.link-number-remove-container) {
        background: var(--light-grey);
        padding: 20px;
        border-radius: 0.75rem;
    }

    .name-fields-container {

        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        & .input-container {
            flex: 1;

            & input {
                padding-left: 0;
                padding-right: 0;
            }
        }

        @media(min-width: 768px) {

            & .form-field {
                display: flex;
                align-items: center;
                column-gap: 1.5rem;
            }
        }

        & .form-field{
            margin: 0;
        }
    }

    .name-fields-container label, .image-field label {
        min-width: min(18vw, 200px);

        @media(min-width: 1024px) {
            min-width: clamp(80px, 20vw, 120px);
        }

        @media(min-width: 1320px) {
            min-width: clamp(100px, 21vw, 256px) !important;
        }
    }

}