/* Light mode color styling */

.light-mode {

    background: var(--light-grey);

    & h3 {
        color: var(--dark_grey);
    }

    & h5 {
        color: var(--grey);
    }

    & p, & label, & input, & select, & option {
        color: var(--dark_grey);
    }

    & a {
        color: var(--purple);
    }

    & .box-section {
        background: var(--white);
    }

    & .logo-container h2 {
        color: var(--dark_grey);
    }

    & .input-container {
        border: 1px var(--border) solid;
    }

}