/* Light mode color styling */

.light-mode {

    background: var(--light-grey);

    & h3 {
        color: var(--dark-grey);
    }

    & h5 {
        color: var(--grey);
    }

    & p:not(p.email-text), & label, & input, & select, & option, & .watermark-text {
        color: var(--dark-grey);
    }

    & .email-text {
        color: var(--grey);
    }

    & a {
        color: var(--purple);
    }

    & .box-section {
        background: var(--white);
    }

    & .logo-container h2 {
        color: var(--dark-grey);
    }

    & .input-container {
        border: 1px var(--border) solid;
    }

    & .selection-dropdown-container li span, .selected-link-item-container span {
        color: var(--dark-grey);
    }

    & .profile-page-container {

        & .input-container, .input-container .selection-dropdown-container { 
            background: var(--white);
        }
    } 

    & form .image-field {
        & label, p {
            color: var(--grey) !important;
        }
    }

    & form .name-fields-container .form-field label {
        @media(min-width: 768px) {
            color: var(--grey) !important;
        }
    }

    /* Popup message icon styling */

    & .popup-message-container {
        background: var(--dark-grey);

        & h4 {
            color: var(--white);
        }

        & .popup-saved-icon {
            & .path-1 {
                fill: var(--white);
            }

            & .path-2 {
                fill: var(--grey);
            }
        }
    }

}