header {
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.25s;
    grid-column: 1 / 3;

    & .logo-container, .button-styling {
        min-width: 3.25rem;

    }

    & .logo-container {
        & h2 {
            font-size: min(1.675rem, 11vw) !important;
            @media(max-width: 47.9375rem) {
                display: none;
            }
        }

        & svg {
            width: 1.666rem;
            height: 1.666rem;
        }
    }

    & .links-profile-container {
        display: flex;
        transition: inherit;

        & .tab-container {
            display: flex;
            min-width: max-content;
            align-items: center;
            gap: 0.5em;
            padding: 0.75em min(1.5em, 6.5vw);
            color: var(--grey);
            border-radius: 0.5em;
            cursor: pointer;
            transition: inherit;

            & svg {
                fill: var(--grey);
                width: 1.0625rem;
                height: 1.0625rem;
            }

            & h4 {
                @media(max-width: 33.6875rem) {
                    display: none;
                }
            }

            &:hover {
                background: var(--purple-opaque-2);
            }
        }

        & .tab-active {
            background: var(--light-purple);

            &:hover {
                background: var(--light-purple) !important;
            }

            & h4 {
                color: var(--purple);
            }

            & svg {
                fill: var(--purple);
            }
        }
    }

    & .button-container {

        display: flex;
        transition: inherit;
        
        & svg {
            border: 1.25px var(--purple) solid;
            
            border-radius: 0.5em;
            width: 3.25rem;
            height: 2.625rem;

            & path {
                fill: var(--purple);
            }
            @media(min-width: 33.75rem) {
                display: none;
            }
        }
    }

    & .button-styling {
        border-radius: 0.5em;
        padding: 0.5em 1.5em;
        border: 1.5px var(--purple) solid;
        color: var(--purple);
        background: transparent;
        transition: inherit;
        font-weight: 600;

        &:hover {
            background: var(--light-purple);
        }
    }

    & a {
        display: flex;
    }
}

.profile-page-container {
    & .button-styling {

        @media(max-width: 539px) {
            display: none;
        }

    }
}

.preview-page-container {

    @media(max-width: 539px) {

        & header { 
            background: transparent !important;
            margin: 0 !important;
            gap: min(24px, 2vw);
        }

        & .color-filler {
            display: none;
        }

        & .button-styling {
            display: flex;
            justify-content: center;
            padding-left: 1em;
            padding-right: 1em;
            
            flex: 0 0 min(9.75rem, 41vw);
        }
    }
}