body:has(.create-login) {
    display: grid;
    place-items: center;
    padding: 100px 24px;

    @media(max-width: 420px) {
        padding: 48px 24px 8rem;
    }


    & .create-login {
        width: min(29.75rem, 100%);

        display: flex;
        flex-direction: column;

        & .note {
            color: var(--grey) !important;
            margin-bottom: 1.25rem;
        }

        & .page-switch {
            margin: 0;
            display: block;
            text-align: center;
        }

        & h5 {
            margin: 0em 0 2em;
        }

        & .logo-container {
            margin-bottom: 2rem;
        }

        .bottom-text {
            display: flex;
            flex-direction: column;

            @media(min-width: 29.8125rem) {
                flex-direction: row;
                gap: 0.25rem;
                justify-content: center;
            }
        }

        .form-err-msg {
            margin-bottom: 1.25em;
        }
    }
}

.opaque {
    opacity: 0.25;
    pointer-events: none;
}