body:has(.profile-page-container) {

    --padding: 24px;

    display: grid;
    place-items: center;

    @media(min-width: 48rem) {
        padding: var(--padding);
    }

    & .profile-page-container {

        max-width: 1400px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        gap: 24px;
        overflow-y: auto;
        width: 100%;
        height: min(calc(100dvh - calc(var(--padding) * 2)), 1200px);

        & aside, .links-profile-sections {
            grid-column: 1 / 3;
            margin: 0 min(24px, 5vw);
            overflow-y: auto;

            @media(min-width: 48rem) {
                margin: 0;
            }

            @media(min-width: 64.0625rem) {
                grid-column: auto;
            }
        }

        & aside {
            display: grid;
            place-items: center;
            overflow-y: auto;

            @media(max-width: 64rem) {
                display: none;
            }

            & svg {
                max-width: min(19.1875rem, 100%);
                max-height: min(100%, 39.5rem);
                fill: var(--white);
                stroke: var(--grey);
                position: relative;

                & foreignObject {
                    width: 100%;
                    height: 100%;

                    & .mobile-content-container {
                        max-height: calc(100% - 120px);
                        max-width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin: 60px 32px;
                        height: 100%;
                        overflow-y: auto;

                        & .image-container {
                            background: var(--unfilled);
                            aspect-ratio: 1 / 1;
                            width: min(96px, 100%);
                            border-radius: 50%;
                            flex-shrink: 0;

                            & img {
                                border-radius: 50%;
                                width: 100%;
                                height: 100%;
                                display: none;
                            }
                        }

                        & h6 {
                            margin: 1.25rem 0 0.75rem;
                            min-width: 160px;
                            min-height: 16px;
                            flex-shrink: 0;
                        }

                        & p {
                            min-width: 72px;
                            min-height: 8px;
                            flex-shrink: 0;
                        }

                        & h6, p {
                            background: var(--unfilled);
                            text-align: center;
                            border-radius: 1em;
                        } 

                        & .mobile-links-container {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            gap: 20px;
                            flex: 1;
                            align-self: stretch;
                            margin-top: 56px;

                            & .mobile-link-container {
                                width: 100%;
                                min-height: 44px;
                                border-radius: 0.5em; 
                                background: var(--unfilled);
                            }
                        }
                    }
                }
            }
        }

        & .links-profile-sections {
            overflow-y: auto;

            display: flex;
            flex-direction: column;

            @media(max-width: 47.9375rem) {
                width: calc(100% - clamp(32px, 8vw, 48px)) !important;
            }

            @media(max-width: 64rem) {
                width: min(752px, 100%);
                margin: 0 auto;
            }

            & .button-styling {
                width: 100%;
                margin: 2.25em 0 1.5em;
                transition: 0.25s;
            }

            & .links-content-container, .profile-content-container {
                border-bottom-left-radius: 0px !important;
                border-bottom-right-radius: 0px !important;
            }

            & section, .links-get-started-container, .get-started-container {
                display: flex;
                flex-direction: column;
                height: 100%
            }

            & .get-started-container {
                background: var(--light-grey) !important;
                height: 100%;
                align-items: center;
                justify-content: center;
                padding: clamp(40px, 8vw, 60px) clamp(min(20px, 4vw), 7.75vw, 120px);

                & svg {
                    width: clamp(124px, 30vw, 15.625rem);
                    margin-bottom: 40px;
                }

                & h3, h5 {
                    text-align: center;
                }

                & h5 {
                    margin-top: 1.5em;
                }
            }

            .save-button-container {
                background: var(--white);
                padding-top: 24px !important;
                padding-bottom: 24px !important;
                border-top: 1px var(--border) solid;
                border-top-left-radius: 0px !important;
                border-top-right-radius: 0px !important;
                align-items: end;

                & button {
                    margin: 0 !important;
                    width: 100%;

                    @media(min-width: 40rem) {
                        width: fit-content;
                    }
                }
            }
        }

        @media(min-width: 64.0625rem) {
            grid-template-columns: 1fr 1.44fr;
        }

        & .box-section {
            background: var(--white);
        }

        & .profile-header {
            padding: 16px 24px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            transition: 0.25s;
            grid-column: 1 / 3;

            & .logo-container, .button-styling {
                min-width: 3.25rem;

            }

            & .logo-container {
                & h2 {
                    font-size: min(1.675rem, 11vw) !important;
                    @media(max-width: 47.9375rem) {
                        display: none;
                    }
                }

                & svg {
                    width: 1.666rem;
                    height: 1.666rem;
                }
            }

            & .links-profile-container {
                display: flex;
                transition: inherit;

                & .tab-container {
                    display: flex;
                    min-width: max-content;
                    align-items: center;
                    gap: 0.5em;
                    padding: 0.75em min(1.5em, 6.5vw);
                    color: var(--grey);
                    border-radius: 0.5em;
                    cursor: pointer;
                    transition: inherit;

                    & svg {
                        fill: var(--grey);
                        width: 1.0625rem;
                        height: 1.0625rem;
                    }

                    & h4 {
                        @media(max-width: 33.6875rem) {
                            display: none;
                        }
                    }

                    &:hover {
                        background: var(--purple-opaque-2);
                    }
                }

                & .tab-active {
                    background: var(--light-purple);

                    &:hover {
                        background: var(--light-purple) !important;
                    }

                    & h4 {
                        color: var(--purple);
                    }

                    & svg {
                        fill: var(--purple);
                    }
                }
            }

            & .preview-container {

                display: flex;
                transition: inherit;
                
                & svg {
                    border: 1.25px var(--purple) solid;
                    
                    border-radius: 0.5em;
                    width: 3.25rem;
                    height: 2.625rem;

                    & path {
                        fill: var(--purple);
                    }
                    @media(min-width: 33.75rem) {
                        display: none;
                    }
                }
            }

            & .button-styling {

                @media(max-width: 33.6875rem) {
                    display: none;
                }

            }

            & a {
                display: flex;
            }
        }

        & .button-styling {
            border-radius: 0.5em;
            padding: 0.5em 1.5em;
            border: 1.5px var(--purple) solid;
            color: var(--purple);
            background: transparent;
            transition: inherit;
            font-weight: 600;

            /* @media(max-width: 33.6875rem) {
                display: none;
            } */

            &:hover {
                background: var(--light-purple);
            }
        }
    }
}