body:has(.create-login) {
    display: grid;
    place-items: center;
    padding: 24px;

    & .create-login {
        width: min(29.75rem, 100%);

        display: flex;
        flex-direction: column;

        & .note {
            color: var(--grey) !important;
            margin-bottom: 1.25rem;
        }

        .box-section {
            padding: 24px clamp(24px, 4.5vw, 40px);
        }

        & .page-switch {
            margin: 0;
            display: block;
            text-align: center;
        }

        & h5 {
            margin: 0em 0 2em;
        }

        .logo-container {
            margin-bottom: 2rem;
            font-size: min(2.25rem, 11vw) !important;

            & svg {
                width: 1.15em;
                height: 1.15em;
            }
        }

        @media(max-width: 29.75rem) {
            & .box-section {
                background: transparent !important;
                padding: 0 !important;
            }
        }
        @media(min-width: 29.8125rem) {
            .logo-container {
                align-self: center;
            }
        }
    }
}

.opaque {
    opacity: 0.25;
    pointer-events: none;
}