body:has(.preview-page-container) {
    display: grid;

    & .preview-page-container {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr;

        & * {
            grid-column: 1 / -1;
        }

        & header {
            margin: var(--body-padding);
            grid-row: 1 / 2;
            z-index: 2;
            background: var(--white);
        }

        & .filler-mobile-content-container {
            grid-row: 1 / 4;
            align-self: center;
            position: relative;
            margin: 10rem 0;

            & .mobile-content-container {
                margin: 0 auto;
                z-index: 2;
            }

            & .color-filler {
                background: var(--purple);
                grid-row: 1 / 2;
                z-index: 0;
                border-radius: 0 0 32px 32px;
                height: 200vh;
                width: 100%;
                top: calc(-200vh + 120px);
                position: absolute;
            }

        }

        & .purple-button-styling {
            background: var(--purple) !important;
            color: var(--white) !important;
            cursor: pointer;
        }

        @media(max-width: 539px) {
    
            & header { 
                background: transparent !important;
                margin: 0 !important;
                gap: min(24px, 2vw);
            }
    
            & .button-styling {
                display: flex;
                justify-content: center;
                padding-left: 1em;
                padding-right: 1em;
                
                flex: 0 0 min(9.75rem, 41vw);
            }

            .filler-mobile-content-container {
                margin: 4rem 0;

                & .color-filler {
                    display: none;
                }
            }
        }
    }

    .popup-message-container {

        & svg {

            width: 1rem;
            height: 1rem;

            & path {
                fill: var(--grey);
            }

        }
    }
}