@import 'colors.css';
@import 'typography.css';
@import 'light_mode.css';

@import 'nav.css';
@import 'mobile_content.css';
@import 'page_create_login.css';
@import 'page_profile.css';
@import 'page_preview.css';
@import 'form.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-wrap: pretty;
}

::selection {
    background: var(--purple);
    color: var(--white);
}

body {
    min-height: 100vh;
    min-height: 100dvh;
}

/* Body layout padding */

:root {
    --body-padding: 24px;
}

html, body {
    overflow-x: hidden;
}

/* Fade Transition Time */

:root {
    --fade-animation-time: 0.2s;
}

.box-section {
    border-radius: 0.75rem;
}

.box-shadow {
    filter: drop-shadow(0px 0px 12px var(--drop-shadow));
}

.box-padding-full {
    padding: 40px clamp(min(24px, 7vw), 6.25vw, 40px);
}

.logo-container {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 8px;

    & h2 {
        font-size: inherit;
    }
}

button {
    border-radius: 0.5em;
    padding: 0.75em 1.75em;
    cursor: pointer;
    font-weight: 500;
}

.hidden {
    display: none !important;
}

.button-disabled {
    opacity: 0.25;
    pointer-events: none;
}

/* Link Item Animation */

.animate-fade-up {
    animation-name: fade-in-up;
    animation-timing-function: linear;
    animation-duration: var(--fade-animation-time);
    animation-fill-mode: forwards;
}

@keyframes fade-in-up {
    from { opacity: 0; transform: translateY(8px)}
    to { opacity: 1; transform: translateY(0px)}
}

.animate-fade-out {
    animation-name: fade-out;
    animation-timing-function: linear;
    transform-origin: top;
    animation-fill-mode: forwards;
    animation-duration: var(--fade-animation-time);
}

@keyframes fade-out {
    from { opacity: 1; height: 100%; transform: scale(1); }
    to { opacity: 0; height: 0%; transform: scale(0); }
}

.animate-platform-dropdown {
    animation-name: dropdown-flip-down;
    animation-timing-function: linear;
    animation-duration: 0.15s;
    transform-origin: top;
}

@keyframes dropdown-flip-down {
    from { transform: rotateX(90deg)}
    to { transform: rotateX(0deg)}
}

/* Platform dropdown list item icon hover animation */

@keyframes dropdown-icon-hover-pulse {
    from { transform: scale(1) }
    to { transform: scale(1.4) }
}

/* Platform icon global styling */

svg.platform-icon, svg.link-icon, svg.link-arrow {
    width: 0.875em;
    height: 0.875em;
    stroke: transparent !important;
}

/* Form Input padding, mobile links padding */

form .input-container, .mobile-click-link {
    padding: 0 min(1rem, 4.5vw);
}

/* Scrollbar styling */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 5px;
    box-shadow: inset 0 0 5px var(--grey);
}

::-webkit-scrollbar-thumb {
    background: var(--purple-active);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--purple);
}

/* Popup message styling */

.popup-message-container {
    position: fixed;
    inset: calc(100% - 70px) 0 70px 0;
    margin: auto;
    pointer-events: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 26px 24px;
    width: fit-content;
    border-radius: 12px;
    transform: translateY(200%);
    animation-name: popup-slide-in;
    animation-duration: var(--fade-animation-time);
    animation-timing-function: linear;
    animation-fill-mode: forwards;

    & svg {
        width: 1.25rem;
        height: 1.25rem;
    }

    & h4 {
        text-align: center;
    }
}

@keyframes popup-slide-in {
    from { transform: translateY(200%); opacity: 0; }
    to { transform: translateY(0%); opacity: 1; }
}

.popup-message-slide-out {
    animation-name: popup-slide-out;
    animation-duration: var(--fade-animation-time);
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes popup-slide-out {
    from { transform: translateY(0%); opacity: 1; }
    to { transform: translateY(200%); opacity: 0; }
}

/* Boxed-Section  */

.box-section {
    background: var(--white);
}