@import 'colors.css';
@import 'typography.css';
@import 'light_mode.css';

@import 'page_create_login.css';
@import 'page_profile.css';
@import 'form.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background: var(--purple);
    color: var(--white);
}

html, body {
    overflow-x: hidden;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
}

.box-section {
    border-radius: 0.75rem;
}

.logo-container {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: 8px;
    font-size: min(2.25rem, 11vw) !important;

    & svg {
        width: 1.15em;
        height: 1.15em;
    }

    & h2 {
        font-size: inherit;
    }
}