@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
    line-height: 1.5em;
    font-family: 'Instrument Sans', sans-serif;
    text-decoration: none;
}

/* Heading M */

h3 {
    font-size: clamp(min(8px + 1rem, 7.5vw), 6.25vw, 24px + 0.5rem);
    font-weight: 700;
}

/* Heading S */

h4, .tab-container, button, .button-styling {
    font-size: min(1rem, 4.5vw);
    font-weight: 600;
}

/* Body M */

h5, .input-container, .mobile-link-container, a, .mobile-click-link {
    font-size: min(1rem, 4.5vw);
    font-weight: 400;
}

/* Body S */

p, label, .mobile-link-text {
    font-size: min(0.75rem, 4vw);
    font-weight: 400;
}

/* Profile Name Text */

.name-text {
    font-size: min(1.125rem, 5vw);
    font-weight: 700;
}

/* Profile Email Text */

.email-text {
    font-size: min(0.875rem, 4.25vw);
    font-weight: 400;
}
